<?xml version="1.0"?>

<launch>
  <!-- bt control node -->
<node pkg="man_bt_operator" type="bt_manipulator_node" name="bt_manipulator_node" output="screen" required="true">
    <rosparam command="load" file="$(find man_bringup)/config/plugin/pick_place_io.yaml" ns="/bt_param"/>
    <rosparam command="load" file="$(find man_bringup)/config/robot_info/ur5e.yaml" ns="/robot_param"/>
</node>

</launch>
